html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}

.navbar.navbar-default {
    font-family: Arvo, serif;
    font-weight: 800;
    color: black !important;
    margin-bottom: 0;
    background-image: url("../images/wood.jpg");
    background-size: 25% ;
    z-index: 1000;
    text-shadow: #7b7b7b 3px;
}

.navbar.navbar-default * {
    height: 45px;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index: 1032;
}