	/** Pre-Defined TODO: FIX TUTORIAL STYLES*/
	body{
		border: 0;
		margin: 0;
		padding: 0;
		
		background: #000000;
		color: #ff944d;
	}
	
	/** Elements */
	#tutorial_tab{
	  background: #4380D0;

		border: 3px solid #7CA7DE;

		padding: 5px 5px 5px 5px;
	  margin : 5px 5px 5px 5px;
	  
	  float: left;
	  width: 150px;
	}

	#tutorial_body{
	  background: #4380D0;

		border: 3px solid #7CA7DE;

		padding: 5px 5px 5px 5px;
	  margin : 5px 5px 5px 5px;
	  
	  float: left;
	  width: 800px;
	}
	
	/** Tutorial Body */
	#tutorial_body_code{
		border: 0px solid #7CA7DE;
		border-bottom-width: 3px;

	}
	
	#tutorial_body_example{
		border: 0px solid #7CA7DE;
		border-bottom-width: 3px;

	}
	
	#tutorial_body_abstract{
		border: 0px solid #7CA7DE;
		border-bottom-width: 3px;

	}
	
	#tutorial_body_explanation{
		border: 0px solid #7CA7DE;
		border-bottom-width: 3px;

	}
	
	/** Tutorial Tab */
	#tutorial_tab_title{
		font-size: 20px;
	}
	
	.tutorial_tab_link{
		border: 0px solid #7CA7DE;
		border-bottom-width: 3px;
	}