/* General */
body
{
    overflow : hidden;
    background:#000;
	cursor: url(cursor.png), url(cursor.cur), auto;
}

.container
{
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    overflow:hidden;
    perspective : 1000px;
    animation : fadeIn 2s;
}

#scene
{
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    background-image : url("../images/icewall/bg.png");
    background-size : cover;
    transform : translateZ(100px);
}

@keyframes fadeIn
{
    from
    {
        opacity : 0;
    }

    to
    {
        opacity : 1;
    }
}

.layer
{
    overflow:hidden;
}



/* The home page design */
.wallpaper
{
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
}

.wallpaper img
{
}

.button
{
    position : absolute !important;
    top : 40%;
    width : 150px;
    height : 45px;


    border : #ddd7c5 solid 2px;
    padding-bottom : 60px;

    text-align : center;
    color : #ddd7c5;

    cursor: url(cursor.png), (cursor.cur), pointer;
    transition : .5s;
    font-family: 'Satisfy', cursive;
    font-size:35px;
    transform : translateZ(100px); !important;
}

.button:hover
{
    background:rgba(255,255,255,0.2);
    text-shadow : -1px 0 5px #ddd7c5;
}

.enButton
{
    left : 35%;
    margin-left:-60px;
}

.frButton
{
    right : 35%;
    margin-right:-60px;
}

.vLogo
{
    position : absolute;
    width : 300px;
    height : 300px;

    left : 50%;
    margin-left : -150px;
    margin-top : -150px;
    top : 40%;

    background-image : url("../images/vLogo.png");
    background-size: cover;
    transform : translateZ(100px);
}


/*
	Class used when lang is selected
*/

.fadeOut
{
    opacity : 0;
}

.centerButton
{
    left : 50%;
}
