body {
    background-image : url('../images/book/wood.jpg');
    background-size: 100% 100%;
}
.sj-book .p1,
.sj-book .p2,
.sj-book .p3,
.sj-book .pBeforeLast,
.sj-book .pLast {
    background-color: white;
    background-image: url(../images/teams/VideoBook.jpg)!important;
}
.book-content img.left {
    display: block;
    float: left;
    margin: 5px;
}