	body{
		background-image: url(../images/tutorial.jpg);
        background-size: 100%;
		border: 0;
		cursor: url(cursor.png), url(cursor.cur), auto;
	}
	
	a, #spons, button
{
	cursor: url(cursor.png), url(cursor.cur), pointer !important;
}

	#content {
        padding-top: 50px;
        font-family: Stempel-Garamond-W01-Roman, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: #b50108;
    }

	/** Elements */
	#tutorial_tab{
	  background: #d7cbab;

		border: 3px solid #8c633b;

		padding: 5px 5px 5px 5px;
	  margin : 5px 5px 5px 5px;
	  
	  float: left;
	  width: 20%;
	}

	#tutorial_body{
	  background: #d7cbab;

		border: 3px solid #8c633b;

		padding: 5px 5px 5px 5px;
	  margin : 5px 5px 5px 5px;
	  
	  float: left;
	  width: 75%;
	}
	
	/** Tutorial Body */
	#tutorial_body_code{
		border: 0px solid #8c633b;
		border-bottom-width: 3px;

	}
	
	#tutorial_body_example{
		border: 0px solid #8c633b;
		border-bottom-width: 3px;

	}
	
	#tutorial_body_abstract{
		border: 0px solid #8c633b;
		border-bottom-width: 3px;

	}
	
	#tutorial_body_explanation{
		border: 0px solid #8c633b;
		border-bottom-width: 3px;

	}
	
	/** Tutorial Tab */
	#tutorial_tab_title{
		font-size: 20px;
	}
	
	.tutorial_tab_link{
		border: 0px solid #8c633b;
		border-bottom-width: 3px;
	}